<div class="mx-[10%]">
  <div class="join join-vertical w-full">
    <div class="collapse collapse-arrow join-item border border-base-300">
      <input type="radio" name="my-accordion-4" checked="checked" />
      <div class="collapse-title text-xl font-medium">Universitas Negeri Semarang</div>
      <div class="collapse-content">
        <p>Master's degree, Chemical Engineering</p>
        <p>2023 - 2025</p>
        <div class="divider"></div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus laboriosam quo minima esse
          hic maxime libero, eligendi aperiam praesentium repellat iste, animi eos. Blanditiis porro
          minima aut, vero harum sapiente.
        </p>
      </div>
    </div>
    <div class="collapse collapse-arrow join-item border border-base-300">
      <input type="radio" name="my-accordion-4" />
      <div class="collapse-title text-xl font-medium">Universitas Negeri Semarang</div>
      <div class="collapse-content">
        <p>Bachelor's degree, Chemical Engineering</p>
        <p>2020 - 2024</p>
        <div class="divider"></div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus laboriosam quo minima esse
          hic maxime libero, eligendi aperiam praesentium repellat iste, animi eos. Blanditiis porro
          minima aut, vero harum sapiente.
        </p>
      </div>
    </div>
    <div class="collapse collapse-arrow join-item border border-base-300">
      <input type="radio" name="my-accordion-4" />
      <div class="collapse-title text-xl font-medium">SMA Negeri 14 Semarang</div>
      <div class="collapse-content">
        <p>Mathematics and Science</p>
        <p>2017 - 2020</p>
        <div class="divider"></div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus laboriosam quo minima esse
          hic maxime libero, eligendi aperiam praesentium repellat iste, animi eos. Blanditiis porro
          minima aut, vero harum sapiente.
        </p>
      </div>
    </div>
  </div>
</div>
