<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <img src="profil.jpg" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">
        Hey, I'm Daffa Zamiira, A Cloud Computing Cohort in Bangkit 2023 Batch 2.
      </h1>
      <p class="py-6 text-xl">"Welcome to my portfolio – where my work shines."</p>
      <a href="https://www.linkedin.com/in/daffazp/"
        ><button class="btn btn-primary">Let's Connect</button></a
      >
    </div>
  </div>
</div>
